<section class="heading-section">
  <h1 class="title is-1 has-text-centered">Amaze Counter</h1>
</section>


<div class="contain">
  <div class="add-counter-box">
    <form (ngSubmit)="onFormSubmit(form)" [formGroup]="form">
      <h2 class="title is-5">New Counter</h2>

      <div class="field is-grouped">
        <p class="control is-expanded">
          <!-- ngModel has various form validations such as required , minlength and
                        its name takes input value which will be used in component
                        we will also asign an Id to it to take values of ngModel to handel erros with ngIf -->
          <input formControlName="text" required minlength="2" name="text" class="input" type="text"
            placeholder="Lets Add Your Counter ...">
        </p>
        <p class="control">
          <button type="submit" id="buttonChange" class="button is-link special-button">
            ADD
          </button>
        </p>
      </div>

      <!-- this will take errors from ngModel Id and validate form with ngIf -->
      <div *ngIf="form?.touched && form?.invalid">
        <p class=" help is-danger" *ngIf="form.controls['text'].errors?.['required']">Please Enter Counter Name to Add
        </p>
        <p class="help is-danger" *ngIf="form.controls['text'].errors?.['minlength']">counter Counter name must be
          atleast
          2 characters</p>
      </div>
    </form>
  </div>
</div>


<section class="section">
  <div class="contain">
    <div class="counter-list">
      <!-- As we are having counter array in data services and getcounter() in counters compoenents we can access that array from component here -->
      <!-- so basically we are taking array of counters and assigning to [counter] which was declared in counter-item component -->
      <app-counter-item *ngFor="let counter of counters" [counter]="counter" (deleteEventCall)="deleteTask(counter)"
        (incrementEventCall)="incrementCount(counter)" (decrementEventCall)="decrementCount(counter)">
      </app-counter-item>
    </div>
  </div>
</section>
